
.i-airline {
  background-image: url('../images/airline.png');
}

.i-airline-kx {
  background-position: -0px -0px;
  width: 56px;
  height: 56px;
}
.i-airline-0b {
  background-position: -0px -56px;
  width: 56px;
  height: 56px;
}
.i-airline-2g {
  background-position: -0px -112px;
  width: 56px;
  height: 56px;
}
.i-airline-2i {
  background-position: -0px -168px;
  width: 56px;
  height: 56px;
}
.i-airline-2j {
  background-position: -0px -224px;
  width: 56px;
  height: 56px;
}
.i-airline-2l {
  background-position: -0px -280px;
  width: 56px;
  height: 56px;
}
.i-airline-2n {
  background-position: -0px -336px;
  width: 56px;
  height: 56px;
}
.i-airline-2z {
  background-position: -0px -392px;
  width: 56px;
  height: 56px;
}
.i-airline-3h {
  background-position: -0px -448px;
  width: 56px;
  height: 56px;
}
.i-airline-3k {
  background-position: -0px -504px;
  width: 56px;
  height: 56px;
}
.i-airline-3m {
  background-position: -0px -560px;
  width: 56px;
  height: 56px;
}
.i-airline-3o {
  background-position: -0px -616px;
  width: 56px;
  height: 56px;
}
.i-airline-3p {
  background-position: -0px -672px;
  width: 56px;
  height: 56px;
}
.i-airline-3r {
  background-position: -0px -728px;
  width: 56px;
  height: 56px;
}
.i-airline-3s {
  background-position: -0px -784px;
  width: 56px;
  height: 56px;
}
.i-airline-3u {
  background-position: -0px -840px;
  width: 56px;
  height: 56px;
}
.i-airline-4c {
  background-position: -0px -896px;
  width: 56px;
  height: 56px;
}
.i-airline-4g {
  background-position: -0px -952px;
  width: 56px;
  height: 56px;
}
.i-airline-4h {
  background-position: -0px -1008px;
  width: 56px;
  height: 56px;
}
.i-airline-4j {
  background-position: -0px -1064px;
  width: 56px;
  height: 56px;
}
.i-airline-4m {
  background-position: -0px -1120px;
  width: 56px;
  height: 56px;
}
.i-airline-4n {
  background-position: -0px -1176px;
  width: 56px;
  height: 56px;
}
.i-airline-4o {
  background-position: -0px -1232px;
  width: 56px;
  height: 56px;
}
.i-airline-4q {
  background-position: -0px -1288px;
  width: 56px;
  height: 56px;
}
.i-airline-4u {
  background-position: -0px -1344px;
  width: 56px;
  height: 56px;
}
.i-airline-4z {
  background-position: -0px -1400px;
  width: 56px;
  height: 56px;
}
.i-airline-5b {
  background-position: -0px -1456px;
  width: 56px;
  height: 56px;
}
.i-airline-5h {
  background-position: -0px -1512px;
  width: 56px;
  height: 56px;
}
.i-airline-5j {
  background-position: -0px -1568px;
  width: 56px;
  height: 56px;
}
.i-airline-5n {
  background-position: -0px -1624px;
  width: 56px;
  height: 56px;
}
.i-airline-5o {
  background-position: -0px -1680px;
  width: 56px;
  height: 56px;
}
.i-airline-5p {
  background-position: -0px -1736px;
  width: 56px;
  height: 56px;
}
.i-airline-5t {
  background-position: -0px -1792px;
  width: 56px;
  height: 56px;
}
.i-airline-5z {
  background-position: -0px -1848px;
  width: 56px;
  height: 56px;
}
.i-airline-6e {
  background-position: -0px -1904px;
  width: 56px;
  height: 56px;
}
.i-airline-6f {
  background-position: -0px -1960px;
  width: 56px;
  height: 56px;
}
.i-airline-6h {
  background-position: -0px -2016px;
  width: 56px;
  height: 56px;
}
.i-airline-6i {
  background-position: -0px -2072px;
  width: 56px;
  height: 56px;
}
.i-airline-6w {
  background-position: -0px -2128px;
  width: 56px;
  height: 56px;
}
.i-airline-6y {
  background-position: -0px -2184px;
  width: 56px;
  height: 56px;
}
.i-airline-7b {
  background-position: -0px -2240px;
  width: 56px;
  height: 56px;
}
.i-airline-7c {
  background-position: -0px -2296px;
  width: 56px;
  height: 56px;
}
.i-airline-7f {
  background-position: -0px -2352px;
  width: 56px;
  height: 56px;
}
.i-airline-7h {
  background-position: -0px -2408px;
  width: 56px;
  height: 56px;
}
.i-airline-7j {
  background-position: -0px -2464px;
  width: 56px;
  height: 56px;
}
.i-airline-7l {
  background-position: -0px -2520px;
  width: 56px;
  height: 56px;
}
.i-airline-7p {
  background-position: -0px -2576px;
  width: 56px;
  height: 56px;
}
.i-airline-7r {
  background-position: -0px -2632px;
  width: 56px;
  height: 56px;
}
.i-airline-7v {
  background-position: -0px -2688px;
  width: 56px;
  height: 56px;
}
.i-airline-7w {
  background-position: -0px -2744px;
  width: 56px;
  height: 56px;
}
.i-airline-7y {
  background-position: -0px -2800px;
  width: 56px;
  height: 56px;
}
.i-airline-8d {
  background-position: -0px -2856px;
  width: 56px;
  height: 56px;
}
.i-airline-8h {
  background-position: -0px -2912px;
  width: 56px;
  height: 56px;
}
.i-airline-8j {
  background-position: -0px -2968px;
  width: 56px;
  height: 56px;
}
.i-airline-8l {
  background-position: -0px -3024px;
  width: 56px;
  height: 56px;
}
.i-airline-8m {
  background-position: -0px -3080px;
  width: 56px;
  height: 56px;
}
.i-airline-8p {
  background-position: -0px -3136px;
  width: 56px;
  height: 56px;
}
.i-airline-8q {
  background-position: -0px -3192px;
  width: 56px;
  height: 56px;
}
.i-airline-9c {
  background-position: -0px -3248px;
  width: 56px;
  height: 56px;
}
.i-airline-9e {
  background-position: -0px -3304px;
  width: 56px;
  height: 56px;
}
.i-airline-9h {
  background-position: -0px -3360px;
  width: 56px;
  height: 56px;
}
.i-airline-9i {
  background-position: -0px -3416px;
  width: 56px;
  height: 56px;
}
.i-airline-9j {
  background-position: -0px -3472px;
  width: 56px;
  height: 56px;
}
.i-airline-9k {
  background-position: -0px -3528px;
  width: 56px;
  height: 56px;
}
.i-airline-9m {
  background-position: -0px -3584px;
  width: 56px;
  height: 56px;
}
.i-airline-9n {
  background-position: -0px -3640px;
  width: 56px;
  height: 56px;
}
.i-airline-9r {
  background-position: -0px -3696px;
  width: 56px;
  height: 56px;
}
.i-airline-9u {
  background-position: -0px -3752px;
  width: 56px;
  height: 56px;
}
.i-airline-9v {
  background-position: -0px -3808px;
  width: 56px;
  height: 56px;
}
.i-airline-9w {
  background-position: -0px -3864px;
  width: 56px;
  height: 56px;
}
.i-airline-a2 {
  background-position: -0px -3920px;
  width: 56px;
  height: 56px;
}
.i-airline-a3 {
  background-position: -0px -3976px;
  width: 56px;
  height: 56px;
}
.i-airline-a4 {
  background-position: -0px -4032px;
  width: 56px;
  height: 56px;
}
.i-airline-a5 {
  background-position: -0px -4088px;
  width: 56px;
  height: 56px;
}
.i-airline-a9 {
  background-position: -0px -4144px;
  width: 56px;
  height: 56px;
}
.i-airline-aa {
  background-position: -0px -4200px;
  width: 56px;
  height: 56px;
}
.i-airline-ab {
  background-position: -0px -4256px;
  width: 56px;
  height: 56px;
}
.i-airline-ac {
  background-position: -0px -4312px;
  width: 56px;
  height: 56px;
}
.i-airline-ad {
  background-position: -0px -4368px;
  width: 56px;
  height: 56px;
}
.i-airline-af {
  background-position: -0px -4424px;
  width: 56px;
  height: 56px;
}
.i-airline-ah {
  background-position: -0px -4480px;
  width: 56px;
  height: 56px;
}
.i-airline-ai {
  background-position: -0px -4536px;
  width: 56px;
  height: 56px;
}
.i-airline-aj {
  background-position: -0px -4592px;
  width: 56px;
  height: 56px;
}
.i-airline-ak {
  background-position: -0px -4648px;
  width: 56px;
  height: 56px;
}
.i-airline-am {
  background-position: -0px -4704px;
  width: 56px;
  height: 56px;
}
.i-airline-ap {
  background-position: -0px -4760px;
  width: 56px;
  height: 56px;
}
.i-airline-aq {
  background-position: -0px -4816px;
  width: 56px;
  height: 56px;
}
.i-airline-ar {
  background-position: -0px -4872px;
  width: 56px;
  height: 56px;
}
.i-airline-as {
  background-position: -0px -4928px;
  width: 56px;
  height: 56px;
}
.i-airline-at {
  background-position: -0px -4984px;
  width: 56px;
  height: 56px;
}
.i-airline-au {
  background-position: -0px -5040px;
  width: 56px;
  height: 56px;
}
.i-airline-av {
  background-position: -0px -5096px;
  width: 56px;
  height: 56px;
}
.i-airline-ay {
  background-position: -0px -5152px;
  width: 56px;
  height: 56px;
}
.i-airline-az {
  background-position: -0px -5208px;
  width: 56px;
  height: 56px;
}
.i-airline-b0 {
  background-position: -0px -5264px;
  width: 56px;
  height: 56px;
}
.i-airline-b2 {
  background-position: -0px -5320px;
  width: 56px;
  height: 56px;
}
.i-airline-b6 {
  background-position: -0px -5376px;
  width: 56px;
  height: 56px;
}
.i-airline-b7 {
  background-position: -0px -5432px;
  width: 56px;
  height: 56px;
}
.i-airline-bb {
  background-position: -0px -5488px;
  width: 56px;
  height: 56px;
}
.i-airline-bc {
  background-position: -0px -5544px;
  width: 56px;
  height: 56px;
}
.i-airline-bd {
  background-position: -0px -5600px;
  width: 56px;
  height: 56px;
}
.i-airline-be {
  background-position: -0px -5656px;
  width: 56px;
  height: 56px;
}
.i-airline-bg {
  background-position: -0px -5712px;
  width: 56px;
  height: 56px;
}
.i-airline-bi {
  background-position: -0px -5768px;
  width: 56px;
  height: 56px;
}
.i-airline-bj {
  background-position: -0px -5824px;
  width: 56px;
  height: 56px;
}
.i-airline-bk {
  background-position: -0px -5880px;
  width: 56px;
  height: 56px;
}
.i-airline-bl {
  background-position: -0px -5936px;
  width: 56px;
  height: 56px;
}
.i-airline-bm {
  background-position: -0px -5992px;
  width: 56px;
  height: 56px;
}
.i-airline-bp {
  background-position: -0px -6048px;
  width: 56px;
  height: 56px;
}
.i-airline-br {
  background-position: -0px -6104px;
  width: 56px;
  height: 56px;
}
.i-airline-bt {
  background-position: -0px -6160px;
  width: 56px;
  height: 56px;
}
.i-airline-bv {
  background-position: -0px -6216px;
  width: 56px;
  height: 56px;
}
.i-airline-bw {
  background-position: -0px -6272px;
  width: 56px;
  height: 56px;
}
.i-airline-by {
  background-position: -0px -6328px;
  width: 56px;
  height: 56px;
}
.i-airline-c6 {
  background-position: -0px -6384px;
  width: 56px;
  height: 56px;
}
.i-airline-c7 {
  background-position: -0px -6440px;
  width: 56px;
  height: 56px;
}
.i-airline-ca {
  background-position: -0px -6496px;
  width: 56px;
  height: 56px;
}
.i-airline-cd {
  background-position: -0px -6552px;
  width: 56px;
  height: 56px;
}
.i-airline-cg {
  background-position: -0px -6608px;
  width: 56px;
  height: 56px;
}
.i-airline-ci {
  background-position: -0px -6664px;
  width: 56px;
  height: 56px;
}
.i-airline-cj {
  background-position: -0px -6720px;
  width: 56px;
  height: 56px;
}
.i-airline-cl {
  background-position: -0px -6776px;
  width: 56px;
  height: 56px;
}
.i-airline-cm {
  background-position: -0px -6832px;
  width: 56px;
  height: 56px;
}
.i-airline-cn {
  background-position: -0px -6888px;
  width: 56px;
  height: 56px;
}
.i-airline-cq {
  background-position: -0px -6944px;
  width: 56px;
  height: 56px;
}
.i-airline-ct {
  background-position: -0px -7000px;
  width: 56px;
  height: 56px;
}
.i-airline-cu {
  background-position: -0px -7056px;
  width: 56px;
  height: 56px;
}
.i-airline-cv {
  background-position: -0px -7112px;
  width: 56px;
  height: 56px;
}
.i-airline-cx {
  background-position: -0px -7168px;
  width: 56px;
  height: 56px;
}
.i-airline-cz {
  background-position: -0px -7224px;
  width: 56px;
  height: 56px;
}
.i-airline-d3 {
  background-position: -0px -7280px;
  width: 56px;
  height: 56px;
}
.i-airline-d7 {
  background-position: -0px -7336px;
  width: 56px;
  height: 56px;
}
.i-airline-d8 {
  background-position: -0px -7392px;
  width: 56px;
  height: 56px;
}
.i-airline-d9 {
  background-position: -0px -7448px;
  width: 56px;
  height: 56px;
}
.i-airline-dc {
  background-position: -0px -7504px;
  width: 56px;
  height: 56px;
}
.i-airline-dd {
  background-position: -0px -7560px;
  width: 56px;
  height: 56px;
}
.i-airline-de {
  background-position: -0px -7616px;
  width: 56px;
  height: 56px;
}
.i-airline-di {
  background-position: -0px -7672px;
  width: 56px;
  height: 56px;
}
.i-airline-dj {
  background-position: -0px -7728px;
  width: 56px;
  height: 56px;
}
.i-airline-dk {
  background-position: -0px -7784px;
  width: 56px;
  height: 56px;
}
.i-airline-dl {
  background-position: -0px -7840px;
  width: 56px;
  height: 56px;
}
.i-airline-dn {
  background-position: -0px -7896px;
  width: 56px;
  height: 56px;
}
.i-airline-dr {
  background-position: -0px -7952px;
  width: 56px;
  height: 56px;
}
.i-airline-dt {
  background-position: -0px -8008px;
  width: 56px;
  height: 56px;
}
.i-airline-dv {
  background-position: -0px -8064px;
  width: 56px;
  height: 56px;
}
.i-airline-dx {
  background-position: -0px -8120px;
  width: 56px;
  height: 56px;
}
.i-airline-dy {
  background-position: -0px -8176px;
  width: 56px;
  height: 56px;
}
.i-airline-dz {
  background-position: -0px -8232px;
  width: 56px;
  height: 56px;
}
.i-airline-e5 {
  background-position: -0px -8288px;
  width: 56px;
  height: 56px;
}
.i-airline-e7 {
  background-position: -0px -8344px;
  width: 56px;
  height: 56px;
}
.i-airline-eb {
  background-position: -0px -8400px;
  width: 56px;
  height: 56px;
}
.i-airline-ec {
  background-position: -0px -8456px;
  width: 56px;
  height: 56px;
}
.i-airline-ef {
  background-position: -0px -8512px;
  width: 56px;
  height: 56px;
}
.i-airline-ei {
  background-position: -0px -8568px;
  width: 56px;
  height: 56px;
}
.i-airline-ek {
  background-position: -0px -8624px;
  width: 56px;
  height: 56px;
}
.i-airline-el {
  background-position: -0px -8680px;
  width: 56px;
  height: 56px;
}
.i-airline-en {
  background-position: -0px -8736px;
  width: 56px;
  height: 56px;
}
.i-airline-ep {
  background-position: -0px -8792px;
  width: 56px;
  height: 56px;
}
.i-airline-eq {
  background-position: -0px -8848px;
  width: 56px;
  height: 56px;
}
.i-airline-et {
  background-position: -0px -8904px;
  width: 56px;
  height: 56px;
}
.i-airline-ew {
  background-position: -0px -8960px;
  width: 56px;
  height: 56px;
}
.i-airline-ey {
  background-position: -0px -9016px;
  width: 56px;
  height: 56px;
}
.i-airline-ez {
  background-position: -0px -9072px;
  width: 56px;
  height: 56px;
}
.i-airline-f9 {
  background-position: -0px -9128px;
  width: 56px;
  height: 56px;
}
.i-airline-fa {
  background-position: -0px -9184px;
  width: 56px;
  height: 56px;
}
.i-airline-fb {
  background-position: -0px -9240px;
  width: 56px;
  height: 56px;
}
.i-airline-fc {
  background-position: -0px -9296px;
  width: 56px;
  height: 56px;
}
.i-airline-fd {
  background-position: -0px -9352px;
  width: 56px;
  height: 56px;
}
.i-airline-fe {
  background-position: -0px -9408px;
  width: 56px;
  height: 56px;
}
.i-airline-fg {
  background-position: -0px -9464px;
  width: 56px;
  height: 56px;
}
.i-airline-fi {
  background-position: -0px -9520px;
  width: 56px;
  height: 56px;
}
.i-airline-fj {
  background-position: -0px -9576px;
  width: 56px;
  height: 56px;
}
.i-airline-fk {
  background-position: -0px -9632px;
  width: 56px;
  height: 56px;
}
.i-airline-fm {
  background-position: -0px -9688px;
  width: 56px;
  height: 56px;
}
.i-airline-fn {
  background-position: -0px -9744px;
  width: 56px;
  height: 56px;
}
.i-airline-fr {
  background-position: -0px -9800px;
  width: 56px;
  height: 56px;
}
.i-airline-fs {
  background-position: -0px -9856px;
  width: 56px;
  height: 56px;
}
.i-airline-fv {
  background-position: -0px -9912px;
  width: 56px;
  height: 56px;
}
.i-airline-fy {
  background-position: -0px -9968px;
  width: 56px;
  height: 56px;
}
.i-airline-fz {
  background-position: -0px -10024px;
  width: 56px;
  height: 56px;
}
.i-airline-g3 {
  background-position: -0px -10080px;
  width: 56px;
  height: 56px;
}
.i-airline-g4 {
  background-position: -0px -10136px;
  width: 56px;
  height: 56px;
}
.i-airline-g8 {
  background-position: -0px -10192px;
  width: 56px;
  height: 56px;
}
.i-airline-g9 {
  background-position: -0px -10248px;
  width: 56px;
  height: 56px;
}
.i-airline-ga {
  background-position: -0px -10304px;
  width: 56px;
  height: 56px;
}
.i-airline-gh {
  background-position: -0px -10360px;
  width: 56px;
  height: 56px;
}
.i-airline-gj {
  background-position: -0px -10416px;
  width: 56px;
  height: 56px;
}
.i-airline-gk {
  background-position: -0px -10472px;
  width: 56px;
  height: 56px;
}
.i-airline-gl {
  background-position: -0px -10528px;
  width: 56px;
  height: 56px;
}
.i-airline-gm {
  background-position: -0px -10584px;
  width: 56px;
  height: 56px;
}
.i-airline-gq {
  background-position: -0px -10640px;
  width: 56px;
  height: 56px;
}
.i-airline-gr {
  background-position: -0px -10696px;
  width: 56px;
  height: 56px;
}
.i-airline-gs {
  background-position: -0px -10752px;
  width: 56px;
  height: 56px;
}
.i-airline-gx {
  background-position: -0px -10808px;
  width: 56px;
  height: 56px;
}
.i-airline-gz {
  background-position: -0px -10864px;
  width: 56px;
  height: 56px;
}
.i-airline-h2 {
  background-position: -0px -10920px;
  width: 56px;
  height: 56px;
}
.i-airline-ha {
  background-position: -0px -10976px;
  width: 56px;
  height: 56px;
}
.i-airline-he {
  background-position: -0px -11032px;
  width: 56px;
  height: 56px;
}
.i-airline-hf {
  background-position: -0px -11088px;
  width: 56px;
  height: 56px;
}
.i-airline-hg {
  background-position: -0px -11144px;
  width: 56px;
  height: 56px;
}
.i-airline-hm {
  background-position: -0px -11200px;
  width: 56px;
  height: 56px;
}
.i-airline-ho {
  background-position: -0px -11256px;
  width: 56px;
  height: 56px;
}
.i-airline-hq {
  background-position: -0px -11312px;
  width: 56px;
  height: 56px;
}
.i-airline-hr {
  background-position: -0px -11368px;
  width: 56px;
  height: 56px;
}
.i-airline-hu {
  background-position: -0px -11424px;
  width: 56px;
  height: 56px;
}
.i-airline-hv {
  background-position: -0px -11480px;
  width: 56px;
  height: 56px;
}
.i-airline-hx {
  background-position: -0px -11536px;
  width: 56px;
  height: 56px;
}
.i-airline-hy {
  background-position: -0px -11592px;
  width: 56px;
  height: 56px;
}
.i-airline-hz {
  background-position: -0px -11648px;
  width: 56px;
  height: 56px;
}
.i-airline-i2 {
  background-position: -0px -11704px;
  width: 56px;
  height: 56px;
}
.i-airline-i4 {
  background-position: -0px -11760px;
  width: 56px;
  height: 56px;
}
.i-airline-i5 {
  background-position: -0px -11816px;
  width: 56px;
  height: 56px;
}
.i-airline-i8 {
  background-position: -0px -11872px;
  width: 56px;
  height: 56px;
}
.i-airline-ib {
  background-position: -0px -11928px;
  width: 56px;
  height: 56px;
}
.i-airline-id {
  background-position: -0px -11984px;
  width: 56px;
  height: 56px;
}
.i-airline-ig {
  background-position: -0px -12040px;
  width: 56px;
  height: 56px;
}
.i-airline-ik {
  background-position: -0px -12096px;
  width: 56px;
  height: 56px;
}
.i-airline-il {
  background-position: -0px -12152px;
  width: 56px;
  height: 56px;
}
.i-airline-in {
  background-position: -0px -12208px;
  width: 56px;
  height: 56px;
}
.i-airline-iq {
  background-position: -0px -12264px;
  width: 56px;
  height: 56px;
}
.i-airline-ir {
  background-position: -0px -12320px;
  width: 56px;
  height: 56px;
}
.i-airline-it {
  background-position: -0px -12376px;
  width: 56px;
  height: 56px;
}
.i-airline-iv {
  background-position: -0px -12432px;
  width: 56px;
  height: 56px;
}
.i-airline-iw {
  background-position: -0px -12488px;
  width: 56px;
  height: 56px;
}
.i-airline-iy {
  background-position: -0px -12544px;
  width: 56px;
  height: 56px;
}
.i-airline-iz {
  background-position: -0px -12600px;
  width: 56px;
  height: 56px;
}
.i-airline-j2 {
  background-position: -0px -12656px;
  width: 56px;
  height: 56px;
}
.i-airline-j3 {
  background-position: -0px -12712px;
  width: 56px;
  height: 56px;
}
.i-airline-j5 {
  background-position: -0px -12768px;
  width: 56px;
  height: 56px;
}
.i-airline-j8 {
  background-position: -0px -12824px;
  width: 56px;
  height: 56px;
}
.i-airline-j9 {
  background-position: -0px -12880px;
  width: 56px;
  height: 56px;
}
.i-airline-jd {
  background-position: -0px -12936px;
  width: 56px;
  height: 56px;
}
.i-airline-je {
  background-position: -0px -12992px;
  width: 56px;
  height: 56px;
}
.i-airline-jg {
  background-position: -0px -13048px;
  width: 56px;
  height: 56px;
}
.i-airline-jj {
  background-position: -0px -13104px;
  width: 56px;
  height: 56px;
}
.i-airline-jl {
  background-position: -0px -13160px;
  width: 56px;
  height: 56px;
}
.i-airline-jp {
  background-position: -0px -13216px;
  width: 56px;
  height: 56px;
}
.i-airline-jq {
  background-position: -0px -13272px;
  width: 56px;
  height: 56px;
}
.i-airline-jr {
  background-position: -0px -13328px;
  width: 56px;
  height: 56px;
}
.i-airline-jt {
  background-position: -0px -13384px;
  width: 56px;
  height: 56px;
}
.i-airline-ju {
  background-position: -0px -13440px;
  width: 56px;
  height: 56px;
}
.i-airline-jv {
  background-position: -0px -13496px;
  width: 56px;
  height: 56px;
}
.i-airline-jw {
  background-position: -0px -13552px;
  width: 56px;
  height: 56px;
}
.i-airline-jy {
  background-position: -0px -13608px;
  width: 56px;
  height: 56px;
}
.i-airline-k3 {
  background-position: -0px -13664px;
  width: 56px;
  height: 56px;
}
.i-airline-k5 {
  background-position: -0px -13720px;
  width: 56px;
  height: 56px;
}
.i-airline-k6 {
  background-position: -0px -13776px;
  width: 56px;
  height: 56px;
}
.i-airline-k7 {
  background-position: -0px -13832px;
  width: 56px;
  height: 56px;
}
.i-airline-k8 {
  background-position: -0px -13888px;
  width: 56px;
  height: 56px;
}
.i-airline-ka {
  background-position: -0px -13944px;
  width: 56px;
  height: 56px;
}
.i-airline-kb {
  background-position: -0px -14000px;
  width: 56px;
  height: 56px;
}
.i-airline-kc {
  background-position: -0px -14056px;
  width: 56px;
  height: 56px;
}
.i-airline-kd {
  background-position: -0px -14112px;
  width: 56px;
  height: 56px;
}
.i-airline-ke {
  background-position: -0px -14168px;
  width: 56px;
  height: 56px;
}
.i-airline-kf {
  background-position: -0px -14224px;
  width: 56px;
  height: 56px;
}
.i-airline-kg {
  background-position: -0px -14280px;
  width: 56px;
  height: 56px;
}
.i-airline-ki {
  background-position: -0px -14336px;
  width: 56px;
  height: 56px;
}
.i-airline-kj {
  background-position: -0px -14392px;
  width: 56px;
  height: 56px;
}
.i-airline-kk {
  background-position: -0px -14448px;
  width: 56px;
  height: 56px;
}
.i-airline-kl {
  background-position: -0px -14504px;
  width: 56px;
  height: 56px;
}
.i-airline-km {
  background-position: -0px -14560px;
  width: 56px;
  height: 56px;
}
.i-airline-kn {
  background-position: -0px -14616px;
  width: 56px;
  height: 56px;
}
.i-airline-kp {
  background-position: -0px -14672px;
  width: 56px;
  height: 56px;
}
.i-airline-kq {
  background-position: -0px -14728px;
  width: 56px;
  height: 56px;
}
.i-airline-kr {
  background-position: -0px -14784px;
  width: 56px;
  height: 56px;
}
.i-airline-ku {
  background-position: -0px -14840px;
  width: 56px;
  height: 56px;
}
.i-airline-1d {
  background-position: -0px -14896px;
  width: 56px;
  height: 56px;
}
.i-airline-l8 {
  background-position: -0px -14952px;
  width: 56px;
  height: 56px;
}
.i-airline-la {
  background-position: -0px -15008px;
  width: 56px;
  height: 56px;
}
.i-airline-lb {
  background-position: -0px -15064px;
  width: 56px;
  height: 56px;
}
.i-airline-lf {
  background-position: -0px -15120px;
  width: 56px;
  height: 56px;
}
.i-airline-lg {
  background-position: -0px -15176px;
  width: 56px;
  height: 56px;
}
.i-airline-lh {
  background-position: -0px -15232px;
  width: 56px;
  height: 56px;
}
.i-airline-li {
  background-position: -0px -15288px;
  width: 56px;
  height: 56px;
}
.i-airline-lj {
  background-position: -0px -15344px;
  width: 56px;
  height: 56px;
}
.i-airline-lo {
  background-position: -0px -15400px;
  width: 56px;
  height: 56px;
}
.i-airline-lp {
  background-position: -0px -15456px;
  width: 56px;
  height: 56px;
}
.i-airline-lr {
  background-position: -0px -15512px;
  width: 56px;
  height: 56px;
}
.i-airline-ls {
  background-position: -0px -15568px;
  width: 56px;
  height: 56px;
}
.i-airline-lu {
  background-position: -0px -15624px;
  width: 56px;
  height: 56px;
}
.i-airline-lv {
  background-position: -0px -15680px;
  width: 56px;
  height: 56px;
}
.i-airline-lx {
  background-position: -0px -15736px;
  width: 56px;
  height: 56px;
}
.i-airline-ly {
  background-position: -0px -15792px;
  width: 56px;
  height: 56px;
}
.i-airline-m0 {
  background-position: -0px -15848px;
  width: 56px;
  height: 56px;
}
.i-airline-m2 {
  background-position: -0px -15904px;
  width: 56px;
  height: 56px;
}
.i-airline-m3 {
  background-position: -0px -15960px;
  width: 56px;
  height: 56px;
}
.i-airline-m4 {
  background-position: -0px -16016px;
  width: 56px;
  height: 56px;
}
.i-airline-m5 {
  background-position: -0px -16072px;
  width: 56px;
  height: 56px;
}
.i-airline-m9 {
  background-position: -0px -16128px;
  width: 56px;
  height: 56px;
}
.i-airline-md {
  background-position: -0px -16184px;
  width: 56px;
  height: 56px;
}
.i-airline-me {
  background-position: -0px -16240px;
  width: 56px;
  height: 56px;
}
.i-airline-mf {
  background-position: -0px -16296px;
  width: 56px;
  height: 56px;
}
.i-airline-mh {
  background-position: -0px -16352px;
  width: 56px;
  height: 56px;
}
.i-airline-mi {
  background-position: -0px -16408px;
  width: 56px;
  height: 56px;
}
.i-airline-mj {
  background-position: -0px -16464px;
  width: 56px;
  height: 56px;
}
.i-airline-mm {
  background-position: -0px -16520px;
  width: 56px;
  height: 56px;
}
.i-airline-mn {
  background-position: -0px -16576px;
  width: 56px;
  height: 56px;
}
.i-airline-mq {
  background-position: -0px -16632px;
  width: 56px;
  height: 56px;
}
.i-airline-mr {
  background-position: -0px -16688px;
  width: 56px;
  height: 56px;
}
.i-airline-ms {
  background-position: -0px -16744px;
  width: 56px;
  height: 56px;
}
.i-airline-mu {
  background-position: -0px -16800px;
  width: 56px;
  height: 56px;
}
.i-airline-mw {
  background-position: -0px -16856px;
  width: 56px;
  height: 56px;
}
.i-airline-n4 {
  background-position: -0px -16912px;
  width: 56px;
  height: 56px;
}
.i-airline-n7 {
  background-position: -0px -16968px;
  width: 56px;
  height: 56px;
}
.i-airline-n8 {
  background-position: -0px -17024px;
  width: 56px;
  height: 56px;
}
.i-airline-n9 {
  background-position: -0px -17080px;
  width: 56px;
  height: 56px;
}
.i-airline-ne {
  background-position: -0px -17136px;
  width: 56px;
  height: 56px;
}
.i-airline-ng {
  background-position: -0px -17192px;
  width: 56px;
  height: 56px;
}
.i-airline-nh {
  background-position: -0px -17248px;
  width: 56px;
  height: 56px;
}
.i-airline-ni {
  background-position: -0px -17304px;
  width: 56px;
  height: 56px;
}
.i-airline-nk {
  background-position: -0px -17360px;
  width: 56px;
  height: 56px;
}
.i-airline-nl {
  background-position: -0px -17416px;
  width: 56px;
  height: 56px;
}
.i-airline-nn {
  background-position: -0px -17472px;
  width: 56px;
  height: 56px;
}
.i-airline-no {
  background-position: -0px -17528px;
  width: 56px;
  height: 56px;
}
.i-airline-ns {
  background-position: -0px -17584px;
  width: 56px;
  height: 56px;
}
.i-airline-nt {
  background-position: -0px -17640px;
  width: 56px;
  height: 56px;
}
.i-airline-nx {
  background-position: -0px -17696px;
  width: 56px;
  height: 56px;
}
.i-airline-ny {
  background-position: -0px -17752px;
  width: 56px;
  height: 56px;
}
.i-airline-nz {
  background-position: -0px -17808px;
  width: 56px;
  height: 56px;
}
.i-airline-o6 {
  background-position: -0px -17864px;
  width: 56px;
  height: 56px;
}
.i-airline-o8 {
  background-position: -0px -17920px;
  width: 56px;
  height: 56px;
}
.i-airline-o9 {
  background-position: -0px -17976px;
  width: 56px;
  height: 56px;
}
.i-airline-oa {
  background-position: -0px -18032px;
  width: 56px;
  height: 56px;
}
.i-airline-ob {
  background-position: -0px -18088px;
  width: 56px;
  height: 56px;
}
.i-airline-od {
  background-position: -0px -18144px;
  width: 56px;
  height: 56px;
}
.i-airline-oj {
  background-position: -0px -18200px;
  width: 56px;
  height: 56px;
}
.i-airline-ok {
  background-position: -0px -18256px;
  width: 56px;
  height: 56px;
}
.i-airline-om {
  background-position: -0px -18312px;
  width: 56px;
  height: 56px;
}
.i-airline-on {
  background-position: -0px -18368px;
  width: 56px;
  height: 56px;
}
.i-airline-oq {
  background-position: -0px -18424px;
  width: 56px;
  height: 56px;
}
.i-airline-or {
  background-position: -0px -18480px;
  width: 56px;
  height: 56px;
}
.i-airline-os {
  background-position: -0px -18536px;
  width: 56px;
  height: 56px;
}
.i-airline-ou {
  background-position: -0px -18592px;
  width: 56px;
  height: 56px;
}
.i-airline-ox {
  background-position: -0px -18648px;
  width: 56px;
  height: 56px;
}
.i-airline-oy {
  background-position: -0px -18704px;
  width: 56px;
  height: 56px;
}
.i-airline-oz {
  background-position: -0px -18760px;
  width: 56px;
  height: 56px;
}
.i-airline-p0 {
  background-position: -0px -18816px;
  width: 56px;
  height: 56px;
}
.i-airline-p2 {
  background-position: -0px -18872px;
  width: 56px;
  height: 56px;
}
.i-airline-p5 {
  background-position: -0px -18928px;
  width: 56px;
  height: 56px;
}
.i-airline-p9 {
  background-position: -0px -18984px;
  width: 56px;
  height: 56px;
}
.i-airline-pb {
  background-position: -0px -19040px;
  width: 56px;
  height: 56px;
}
.i-airline-pc {
  background-position: -0px -19096px;
  width: 56px;
  height: 56px;
}
.i-airline-pd {
  background-position: -0px -19152px;
  width: 56px;
  height: 56px;
}
.i-airline-pf {
  background-position: -0px -19208px;
  width: 56px;
  height: 56px;
}
.i-airline-pg {
  background-position: -0px -19264px;
  width: 56px;
  height: 56px;
}
.i-airline-pj {
  background-position: -0px -19320px;
  width: 56px;
  height: 56px;
}
.i-airline-pk {
  background-position: -0px -19376px;
  width: 56px;
  height: 56px;
}
.i-airline-pl {
  background-position: -0px -19432px;
  width: 56px;
  height: 56px;
}
.i-airline-pm {
  background-position: -0px -19488px;
  width: 56px;
  height: 56px;
}
.i-airline-pq {
  background-position: -0px -19544px;
  width: 56px;
  height: 56px;
}
.i-airline-pr {
  background-position: -0px -19600px;
  width: 56px;
  height: 56px;
}
.i-airline-ps {
  background-position: -0px -19656px;
  width: 56px;
  height: 56px;
}
.i-airline-pv {
  background-position: -0px -19712px;
  width: 56px;
  height: 56px;
}
.i-airline-pw {
  background-position: -0px -19768px;
  width: 56px;
  height: 56px;
}
.i-airline-px {
  background-position: -0px -19824px;
  width: 56px;
  height: 56px;
}
.i-airline-py {
  background-position: -0px -19880px;
  width: 56px;
  height: 56px;
}
.i-airline-pz {
  background-position: -0px -19936px;
  width: 56px;
  height: 56px;
}
.i-airline-qa {
  background-position: -0px -19992px;
  width: 56px;
  height: 56px;
}
.i-airline-qc {
  background-position: -0px -20048px;
  width: 56px;
  height: 56px;
}
.i-airline-qf {
  background-position: -0px -20104px;
  width: 56px;
  height: 56px;
}
.i-airline-qg {
  background-position: -0px -20160px;
  width: 56px;
  height: 56px;
}
.i-airline-qh {
  background-position: -0px -20216px;
  width: 56px;
  height: 56px;
}
.i-airline-qk {
  background-position: -0px -20272px;
  width: 56px;
  height: 56px;
}
.i-airline-ql {
  background-position: -0px -20328px;
  width: 56px;
  height: 56px;
}
.i-airline-qm {
  background-position: -0px -20384px;
  width: 56px;
  height: 56px;
}
.i-airline-qq {
  background-position: -0px -20440px;
  width: 56px;
  height: 56px;
}
.i-airline-qr {
  background-position: -0px -20496px;
  width: 56px;
  height: 56px;
}
.i-airline-qs {
  background-position: -0px -20552px;
  width: 56px;
  height: 56px;
}
.i-airline-qu {
  background-position: -0px -20608px;
  width: 56px;
  height: 56px;
}
.i-airline-qv {
  background-position: -0px -20664px;
  width: 56px;
  height: 56px;
}
.i-airline-qw {
  background-position: -0px -20720px;
  width: 56px;
  height: 56px;
}
.i-airline-qx {
  background-position: -0px -20776px;
  width: 56px;
  height: 56px;
}
.i-airline-qz {
  background-position: -0px -20832px;
  width: 56px;
  height: 56px;
}
.i-airline-r2 {
  background-position: -0px -20888px;
  width: 56px;
  height: 56px;
}
.i-airline-r3 {
  background-position: -0px -20944px;
  width: 56px;
  height: 56px;
}
.i-airline-r6 {
  background-position: -0px -21000px;
  width: 56px;
  height: 56px;
}
.i-airline-r7 {
  background-position: -0px -21056px;
  width: 56px;
  height: 56px;
}
.i-airline-rb {
  background-position: -0px -21112px;
  width: 56px;
  height: 56px;
}
.i-airline-rc {
  background-position: -0px -21168px;
  width: 56px;
  height: 56px;
}
.i-airline-rg {
  background-position: -0px -21224px;
  width: 56px;
  height: 56px;
}
.i-airline-rj {
  background-position: -0px -21280px;
  width: 56px;
  height: 56px;
}
.i-airline-rl {
  background-position: -0px -21336px;
  width: 56px;
  height: 56px;
}
.i-airline-ro {
  background-position: -0px -21392px;
  width: 56px;
  height: 56px;
}
.i-airline-rq {
  background-position: -0px -21448px;
  width: 56px;
  height: 56px;
}
.i-airline-s4 {
  background-position: -0px -21504px;
  width: 56px;
  height: 56px;
}
.i-airline-s5 {
  background-position: -0px -21560px;
  width: 56px;
  height: 56px;
}
.i-airline-s7 {
  background-position: -0px -21616px;
  width: 56px;
  height: 56px;
}
.i-airline-s8 {
  background-position: -0px -21672px;
  width: 56px;
  height: 56px;
}
.i-airline-s9 {
  background-position: -0px -21728px;
  width: 56px;
  height: 56px;
}
.i-airline-sa {
  background-position: -0px -21784px;
  width: 56px;
  height: 56px;
}
.i-airline-sb {
  background-position: -0px -21840px;
  width: 56px;
  height: 56px;
}
.i-airline-sd {
  background-position: -0px -21896px;
  width: 56px;
  height: 56px;
}
.i-airline-se {
  background-position: -0px -21952px;
  width: 56px;
  height: 56px;
}
.i-airline-sg {
  background-position: -0px -22008px;
  width: 56px;
  height: 56px;
}
.i-airline-si {
  background-position: -0px -22064px;
  width: 56px;
  height: 56px;
}
.i-airline-sj {
  background-position: -0px -22120px;
  width: 56px;
  height: 56px;
}
.i-airline-sl {
  background-position: -0px -22176px;
  width: 56px;
  height: 56px;
}
.i-airline-sm {
  background-position: -0px -22232px;
  width: 56px;
  height: 56px;
}
.i-airline-sn {
  background-position: -0px -22288px;
  width: 56px;
  height: 56px;
}
.i-airline-so {
  background-position: -0px -22344px;
  width: 56px;
  height: 56px;
}
.i-airline-sp {
  background-position: -0px -22400px;
  width: 56px;
  height: 56px;
}
.i-airline-sq {
  background-position: -0px -22456px;
  width: 56px;
  height: 56px;
}
.i-airline-ss {
  background-position: -0px -22512px;
  width: 56px;
  height: 56px;
}
.i-airline-st {
  background-position: -0px -22568px;
  width: 56px;
  height: 56px;
}
.i-airline-su {
  background-position: -0px -22624px;
  width: 56px;
  height: 56px;
}
.i-airline-sv {
  background-position: -0px -22680px;
  width: 56px;
  height: 56px;
}
.i-airline-sw {
  background-position: -0px -22736px;
  width: 56px;
  height: 56px;
}
.i-airline-sx {
  background-position: -0px -22792px;
  width: 56px;
  height: 56px;
}
.i-airline-sy {
  background-position: -0px -22848px;
  width: 56px;
  height: 56px;
}
.i-airline-sz {
  background-position: -0px -22904px;
  width: 56px;
  height: 56px;
}
.i-airline-t0 {
  background-position: -0px -22960px;
  width: 56px;
  height: 56px;
}
.i-airline-t3 {
  background-position: -0px -23016px;
  width: 56px;
  height: 56px;
}
.i-airline-t4 {
  background-position: -0px -23072px;
  width: 56px;
  height: 56px;
}
.i-airline-t5 {
  background-position: -0px -23128px;
  width: 56px;
  height: 56px;
}
.i-airline-t6 {
  background-position: -0px -23184px;
  width: 56px;
  height: 56px;
}
.i-airline-ta {
  background-position: -0px -23240px;
  width: 56px;
  height: 56px;
}
.i-airline-tb {
  background-position: -0px -23296px;
  width: 56px;
  height: 56px;
}
.i-airline-tc {
  background-position: -0px -23352px;
  width: 56px;
  height: 56px;
}
.i-airline-tf {
  background-position: -0px -23408px;
  width: 56px;
  height: 56px;
}
.i-airline-tg {
  background-position: -0px -23464px;
  width: 56px;
  height: 56px;
}
.i-airline-th {
  background-position: -0px -23520px;
  width: 56px;
  height: 56px;
}
.i-airline-ti {
  background-position: -0px -23576px;
  width: 56px;
  height: 56px;
}
.i-airline-tk {
  background-position: -0px -23632px;
  width: 56px;
  height: 56px;
}
.i-airline-tl {
  background-position: -0px -23688px;
  width: 56px;
  height: 56px;
}
.i-airline-tm {
  background-position: -0px -23744px;
  width: 56px;
  height: 56px;
}
.i-airline-tn {
  background-position: -0px -23800px;
  width: 56px;
  height: 56px;
}
.i-airline-to {
  background-position: -0px -23856px;
  width: 56px;
  height: 56px;
}
.i-airline-tp {
  background-position: -0px -23912px;
  width: 56px;
  height: 56px;
}
.i-airline-tr {
  background-position: -0px -23968px;
  width: 56px;
  height: 56px;
}
.i-airline-ts {
  background-position: -0px -24024px;
  width: 56px;
  height: 56px;
}
.i-airline-tt {
  background-position: -0px -24080px;
  width: 56px;
  height: 56px;
}
.i-airline-tu {
  background-position: -0px -24136px;
  width: 56px;
  height: 56px;
}
.i-airline-tx {
  background-position: -0px -24192px;
  width: 56px;
  height: 56px;
}
.i-airline-ty {
  background-position: -0px -24248px;
  width: 56px;
  height: 56px;
}
.i-airline-tz {
  background-position: -0px -24304px;
  width: 56px;
  height: 56px;
}
.i-airline-u2 {
  background-position: -0px -24360px;
  width: 56px;
  height: 56px;
}
.i-airline-u4 {
  background-position: -0px -24416px;
  width: 56px;
  height: 56px;
}
.i-airline-u5 {
  background-position: -0px -24472px;
  width: 56px;
  height: 56px;
}
.i-airline-u6 {
  background-position: -0px -24528px;
  width: 56px;
  height: 56px;
}
.i-airline-u8 {
  background-position: -0px -24584px;
  width: 56px;
  height: 56px;
}
.i-airline-ua {
  background-position: -0px -24640px;
  width: 56px;
  height: 56px;
}
.i-airline-ub {
  background-position: -0px -24696px;
  width: 56px;
  height: 56px;
}
.i-airline-ug {
  background-position: -0px -24752px;
  width: 56px;
  height: 56px;
}
.i-airline-uh {
  background-position: -0px -24808px;
  width: 56px;
  height: 56px;
}
.i-airline-ui {
  background-position: -0px -24864px;
  width: 56px;
  height: 56px;
}
.i-airline-uk {
  background-position: -0px -24920px;
  width: 56px;
  height: 56px;
}
.i-airline-ul {
  background-position: -0px -24976px;
  width: 56px;
  height: 56px;
}
.i-airline-um {
  background-position: -0px -25032px;
  width: 56px;
  height: 56px;
}
.i-airline-uo {
  background-position: -0px -25088px;
  width: 56px;
  height: 56px;
}
.i-airline-up {
  background-position: -0px -25144px;
  width: 56px;
  height: 56px;
}
.i-airline-ut {
  background-position: -0px -25200px;
  width: 56px;
  height: 56px;
}
.i-airline-uu {
  background-position: -0px -25256px;
  width: 56px;
  height: 56px;
}
.i-airline-ux {
  background-position: -0px -25312px;
  width: 56px;
  height: 56px;
}
.i-airline-v0 {
  background-position: -0px -25368px;
  width: 56px;
  height: 56px;
}
.i-airline-v3 {
  background-position: -0px -25424px;
  width: 56px;
  height: 56px;
}
.i-airline-v4 {
  background-position: -0px -25480px;
  width: 56px;
  height: 56px;
}
.i-airline-v7 {
  background-position: -0px -25536px;
  width: 56px;
  height: 56px;
}
.i-airline-va {
  background-position: -0px -25592px;
  width: 56px;
  height: 56px;
}
.i-airline-vb {
  background-position: -0px -25648px;
  width: 56px;
  height: 56px;
}
.i-airline-vg {
  background-position: -0px -25704px;
  width: 56px;
  height: 56px;
}
.i-airline-vj {
  background-position: -0px -25760px;
  width: 56px;
  height: 56px;
}
.i-airline-vl {
  background-position: -0px -25816px;
  width: 56px;
  height: 56px;
}
.i-airline-vn {
  background-position: -0px -25872px;
  width: 56px;
  height: 56px;
}
.i-airline-vr {
  background-position: -0px -25928px;
  width: 56px;
  height: 56px;
}
.i-airline-vs {
  background-position: -0px -25984px;
  width: 56px;
  height: 56px;
}
.i-airline-vt {
  background-position: -0px -26040px;
  width: 56px;
  height: 56px;
}
.i-airline-vw {
  background-position: -0px -26096px;
  width: 56px;
  height: 56px;
}
.i-airline-vx {
  background-position: -0px -26152px;
  width: 56px;
  height: 56px;
}
.i-airline-vy {
  background-position: -0px -26208px;
  width: 56px;
  height: 56px;
}
.i-airline-w2 {
  background-position: -0px -26264px;
  width: 56px;
  height: 56px;
}
.i-airline-w3 {
  background-position: -0px -26320px;
  width: 56px;
  height: 56px;
}
.i-airline-w4 {
  background-position: -0px -26376px;
  width: 56px;
  height: 56px;
}
.i-airline-w5 {
  background-position: -0px -26432px;
  width: 56px;
  height: 56px;
}
.i-airline-w6 {
  background-position: -0px -26488px;
  width: 56px;
  height: 56px;
}
.i-airline-w7 {
  background-position: -0px -26544px;
  width: 56px;
  height: 56px;
}
.i-airline-w8 {
  background-position: -0px -26600px;
  width: 56px;
  height: 56px;
}
.i-airline-w9 {
  background-position: -0px -26656px;
  width: 56px;
  height: 56px;
}
.i-airline-wa {
  background-position: -0px -26712px;
  width: 56px;
  height: 56px;
}
.i-airline-wb {
  background-position: -0px -26768px;
  width: 56px;
  height: 56px;
}
.i-airline-we {
  background-position: -0px -26824px;
  width: 56px;
  height: 56px;
}
.i-airline-wf {
  background-position: -0px -26880px;
  width: 56px;
  height: 56px;
}
.i-airline-wg {
  background-position: -0px -26936px;
  width: 56px;
  height: 56px;
}
.i-airline-wi {
  background-position: -0px -26992px;
  width: 56px;
  height: 56px;
}
.i-airline-wj {
  background-position: -0px -27048px;
  width: 56px;
  height: 56px;
}
.i-airline-wk {
  background-position: -0px -27104px;
  width: 56px;
  height: 56px;
}
.i-airline-wn {
  background-position: -0px -27160px;
  width: 56px;
  height: 56px;
}
.i-airline-wp {
  background-position: -0px -27216px;
  width: 56px;
  height: 56px;
}
.i-airline-ws {
  background-position: -0px -27272px;
  width: 56px;
  height: 56px;
}
.i-airline-ww {
  background-position: -0px -27328px;
  width: 56px;
  height: 56px;
}
.i-airline-wx {
  background-position: -0px -27384px;
  width: 56px;
  height: 56px;
}
.i-airline-wy {
  background-position: -0px -27440px;
  width: 56px;
  height: 56px;
}
.i-airline-wz {
  background-position: -0px -27496px;
  width: 56px;
  height: 56px;
}
.i-airline-x3 {
  background-position: -0px -27552px;
  width: 56px;
  height: 56px;
}
.i-airline-x9 {
  background-position: -0px -27608px;
  width: 56px;
  height: 56px;
}
.i-airline-xc {
  background-position: -0px -27664px;
  width: 56px;
  height: 56px;
}
.i-airline-xg {
  background-position: -0px -27720px;
  width: 56px;
  height: 56px;
}
.i-airline-xj {
  background-position: -0px -27776px;
  width: 56px;
  height: 56px;
}
.i-airline-xk {
  background-position: -0px -27832px;
  width: 56px;
  height: 56px;
}
.i-airline-xl {
  background-position: -0px -27888px;
  width: 56px;
  height: 56px;
}
.i-airline-xq {
  background-position: -0px -27944px;
  width: 56px;
  height: 56px;
}
.i-airline-xt {
  background-position: -0px -28000px;
  width: 56px;
  height: 56px;
}
.i-airline-xw {
  background-position: -0px -28056px;
  width: 56px;
  height: 56px;
}
.i-airline-xy {
  background-position: -0px -28112px;
  width: 56px;
  height: 56px;
}
.i-airline-xz {
  background-position: -0px -28168px;
  width: 56px;
  height: 56px;
}
.i-airline-y4 {
  background-position: -0px -28224px;
  width: 56px;
  height: 56px;
}
.i-airline-y5 {
  background-position: -0px -28280px;
  width: 56px;
  height: 56px;
}
.i-airline-y7 {
  background-position: -0px -28336px;
  width: 56px;
  height: 56px;
}
.i-airline-yb {
  background-position: -0px -28392px;
  width: 56px;
  height: 56px;
}
.i-airline-yc {
  background-position: -0px -28448px;
  width: 56px;
  height: 56px;
}
.i-airline-ye {
  background-position: -0px -28504px;
  width: 56px;
  height: 56px;
}
.i-airline-yh {
  background-position: -0px -28560px;
  width: 56px;
  height: 56px;
}
.i-airline-yk {
  background-position: -0px -28616px;
  width: 56px;
  height: 56px;
}
.i-airline-ym {
  background-position: -0px -28672px;
  width: 56px;
  height: 56px;
}
.i-airline-yn {
  background-position: -0px -28728px;
  width: 56px;
  height: 56px;
}
.i-airline-ys {
  background-position: -0px -28784px;
  width: 56px;
  height: 56px;
}
.i-airline-yv {
  background-position: -0px -28840px;
  width: 56px;
  height: 56px;
}
.i-airline-yw {
  background-position: -0px -28896px;
  width: 56px;
  height: 56px;
}
.i-airline-z2 {
  background-position: -0px -28952px;
  width: 56px;
  height: 56px;
}
.i-airline-z4 {
  background-position: -0px -29008px;
  width: 56px;
  height: 56px;
}
.i-airline-z6 {
  background-position: -0px -29064px;
  width: 56px;
  height: 56px;
}
.i-airline-z8 {
  background-position: -0px -29120px;
  width: 56px;
  height: 56px;
}
.i-airline-za {
  background-position: -0px -29176px;
  width: 56px;
  height: 56px;
}
.i-airline-ze {
  background-position: -0px -29232px;
  width: 56px;
  height: 56px;
}
.i-airline-zf {
  background-position: -0px -29288px;
  width: 56px;
  height: 56px;
}
.i-airline-zg {
  background-position: -0px -29344px;
  width: 56px;
  height: 56px;
}
.i-airline-zh {
  background-position: -0px -29400px;
  width: 56px;
  height: 56px;
}
.i-airline-zi {
  background-position: -0px -29456px;
  width: 56px;
  height: 56px;
}
.i-airline-zl {
  background-position: -0px -29512px;
  width: 56px;
  height: 56px;
}
.i-airline-zm {
  background-position: -0px -29568px;
  width: 56px;
  height: 56px;
}
.i-airline-zn {
  background-position: -0px -29624px;
  width: 56px;
  height: 56px;
}
.i-airline-zv {
  background-position: -0px -29680px;
  width: 56px;
  height: 56px;
}
.i-airline-zx {
  background-position: -0px -29736px;
  width: 56px;
  height: 56px;
}
